<div>
    <ul class="nav navbar-nav">
        <li><a>News</a></li>
        <li><a>Policies</a></li>
        <li><a>Sales</a></li>
    </ul>
    <br>
</div>
<br>
<hr>

<div>
    <section>
        
        <h4>News</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Proin molestie arcu id tincidunt maximus. Suspendisse potenti. Maecenas pretium lectus non arcu maximus pulvinar. Integer eget ante erat. Phasellus a accumsan orci. Nulla nec mollis lacus. Morbi sagittis nibh id nunc blandit, nec ullamcorper ligula facilisis. Maecenas accumsan, augue at iaculis pharetra, orci urna placerat ipsum, a maximus metus mi et erat. Praesent tristique fringilla quam. Maecenas ligula leo, vehicula at mi non, posuere pulvinar ipsum. In commodo mollis quam et blandit. Maecenas ac feugiat purus. Duis pretium mauris ut quam varius, et accumsan arcu dapibus. Ut laoreet risus non dictum blandit.
    
        </p>
    </section>
</div>

