<section>
<br/>
<h4>Accessing Customers API via a service - getAll</h4>
<button (click) = 'handleGetAll()'>getAll</button>
<p>{{apiData | json}}</p>

<br/>
<h4>Accessing Claims API via a service - getCustomerByID</h4>
<input placeholder="Enter Customer ID..." id = 'idIn' name = 'idIn' [ngModel] = idIn #idIn = 'ngModel'>
<button (click) = assignId(idIn.value)>GetByID</button>
<p>{{idData | json}}</p>
<br/>
<h4>Accessing Claims API via a service - deleteCustomerByID</h4>
<input placeholder="Enter Customer ID..." id = 'custIn' name = 'custIn' [ngModel] = custIn #custIn = 'ngModel'>
<button (click) = 'assignId_Del(custIn.value)'>GetByID</button>
<p>{{apiDelete | json}}</p>
</section>

